<h1>
    LOGIN Form
</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">
        Login
    </button>
    <div>
    <a href="/register">Doesn't have a account?Click here</a>    
    </div>
</form>